<h3 class="title">Create a new Product</h3>
<form class="newProductForm" (submit)="addProduct($event)">
  <div class="form-group">
    <label for="exampleInputEmail1">Product ID</label>
    <input type="id" class="form-control" id="productid" name="id" [(ngModel)]="productid" aria-describedby="producthelp"
      placeholder="ID"/>
      <div [@idErrorState]="stateName" class="alert alert-warning" id="iderrormsg" role="alert">{{iderrormsg}} {{iderrormsg2}}</div>
  </div>
  <div class="form-group">
    <label for="name">Product Name</label>
    <input type="name" class="form-control" name="name" [(ngModel)]="name" id="name" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="description" class="form-control" name="description" [(ngModel)]="description" id="description"
      placeholder="Enter a Description.." rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="price" class="form-control" [(ngModel)]="price" name="price" id="price" placeholder="$"/>
  </div>
  <div class="form-group">
    <label for="units">Units</label>
    <input type="units" [(ngModel)]="units" class="form-control" name="units" id="units">
  </div>
  <button type="submit" class="btn btn-primary">Add New Product</button>
  <div [@noticeState]="noticeName" class="alert alert-warning" role="alert">{{newProductMessage}}</div>
</form>
