<h3 class="title">List of all Products</h3>
<table class="table table-striped productlist">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Units</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>${{product.price}}</td>
      <td>{{product.units}}</td>
      <td>
        <button type="button" [routerLink]="['/update', product._id]" class="btn btn-primary btn-sm">Edit</button> &nbsp;
        <button type="button" (click)="removeProduct(product._id)" class="btn btn-primary btn-sm">Delete</button>
    </td>
  </tbody>
</table>